<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Listing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        a:link { text-decoration: none; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: underline; }
        a:active { text-decoration: underline; }
        a, body { color: white; }
    </style>
  </head>
  <body background="/static/images/listing_bg.jpg">
    <div class="page-header">
      <p>
        <a href="{{ url_for('listings') }}" class="btn btn-primary">Movie Listings</a>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Sign Out</a>
      </p>
    </div>
    <!-- <div>
        <div>
            {% for key in video_titles %}
            <a href="{{ video_titles[key] }}" target="_blank">{{ key }}</a>
            {% endfor %}
        </div>
    </div> -->
    <table>
      <thead>
        <tr>
          <th>Movie List</th>
        </tr>
      </thead>
      <tbody>
        {% for key in video_titles %}
        <tr style="color: white;">
          <td>
            
            <a href="{{ video_titles[key] }}" target="_blank">{{ key }}</a>
            
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table> 
  </body>
</html>